<!-- sidebar.html -->
<div id="sidebar">
  <!-- 头像 -->
  <div class="site-avatar">
    <img src="{{ '/assets/img/your-avatar.jpg' | relative_url }}" alt="Yee Hsu Avatar">
  </div>

  <!-- 导航栏 -->
  <div class="site-nav">
    <ul class="nav">
      <li><a href="/">首页</a></li>
      <li><a href="/about/">About</a></li>
      <li><a href="/contact/">Contact</a></li>
      <li><a href="/handwork/">Handwork</a></li>
      <li><a href="/ongoing/">Ongoing</a></li>
      <li><a href="/portfolio/">Portfolio</a></li>
    </ul>
  </div>
</div>
