---
layout: page
---
{% include custom-head.html %}
{% include yee-styles.html %}

{% if page.url contains '/handwork/' and page.url != '/tabs/handwork/' %}
  {% include crumbs.html %}
  <p><a class="btn" href="{{ '/tabs/handwork/' | relative_url }}">← Back to Handwork</a></p>
{% endif %}

<script>
(function () {
  var png = '{{ "/assets/img/favicon.png?v=8" | relative_url }}';
  var ico = '{{ "/favicon.ico?v=8" | relative_url }}';

  function setIcon(rel, href, type) {
    var link = document.querySelector('link[rel="' + rel + '"]');
    if (!link) {
      link = document.createElement('link');
      link.rel = rel;
      document.head.appendChild(link);
    }
    if (type) link.type = type;
    link.href = href;
  }

  setIcon('icon', png, 'image/png');
  setIcon('shortcut icon', ico);
  setIcon('apple-touch-icon', png);
})();
</script>

<!-- 左侧导航栏中的头像 -->
<div class="site-avatar">
  <img src="{{ '/assets/img/avatar.png' | relative_url }}" alt="Yee Hsu Avatar" class="avatar">
</div>


{{ content }}
