---
layout: page
---
{% include yee-styles.html %}

{% if page.url contains '/handwork/' and page.url != '/tabs/handwork/' %}
  {% include crumbs.html %}
  <p><a class="btn" href="{{ '/tabs/handwork/' | relative_url }}">← Back to Handwork</a></p>
{% endif %}

<head>
  
<link rel="icon" type="image/png" href="{{ '/assets/img/favicon.png?v=2' | relative_url }}">
<link rel="shortcut icon" href="{{ '/favicon.ico?v=2' | relative_url }}">
<link rel="apple-touch-icon" href="{{ '/assets/img/favicon.png?v=2' | relative_url }}" sizes="180x180">
  
</head>

{{ content }}
